:root{
    --bg:#01011f;
    --bgSoft:#2d2b42;
    --text:white;
    --textSoft:#e5e5e5;
    --btn:#3673fd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    margin: auto;
     width:1240px;
     padding-left: 50px;
     padding-right: 50px;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}